# Example environment variables
# Set a strong password before exposing the seeder endpoint
SEED_PASSWORD=change_me_to_a_strong_password

# Other env vars used by the app (examples)
PORT=5000
CLIENT_URL=http://localhost:3000
NODE_ENV=developmentPORT=5000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root 
#DB_PASSWORD=LTKg3M=Dm!}s
DB_NAME=myapp

# JWT Configuration
JWT_SECRET=37afdf7e87206dffc4b0baec2eaff69d8fa5b6d0d105dcc761144db651bc0788fa3d35c47a61c523f901f28b7a38013538de3ccd0e80666c856a42616eedbd4f
JWT_EXPIRES_IN=7d

# email Configuration
EMAIL_USER=waseemazmy21@gmail.com
EMAIL_APP_PASSWORD=wddk ymvq qiuv inda

# front end url
# CLIENT_URL=http://localhost:5173
CLIENT_URL=http://localhost:3000

# Image Upload Configuration
ORDER_IMAGE_WIDTH=800
ORDER_IMAGE_HEIGHT=600
ORDER_IMAGE_QUALITY=85